$color-background: #f9faff;

$color-primary: #293356;
$color-secondary: #848ead;
$color-btn-text: #becdff;

$color-white: #fff;

$color-slider: #ecf0fb;

$color-btn-background: #10d8c4;
$color-btn-background-hglt: #7aeadf;

$color-switch-background: #cfd8ef;

$color-discount-text: #ff8d68;
$color-discount-background: #feede8;
